.App {
  text-align: center;
}

@font-face {
  font-family: Mograch;
  src: url("../fonts/mograch.otf");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html, html a {
  -webkit-font-smoothing: antialiased !important;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar{
  font-family: mograch;
  background-color: #2B3467;
  display: flex;
  align-items: center;
  height: 60px;
}

.logo{
  font-weight: 300;
font-size: 48px;
line-height: 29px;
color: #E83D4D;
margin-left: 30px;
}

.routes{
  display: flex;
  gap:65px;
  margin-left:auto;
  list-style-type: none;
  margin-right: 30px;
}

.active{
  background-color:#E83D4D;
  border-radius: 4px;
  width: 94px;
height: 26px;
}

.routes > li{
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  color:white;
  line-height: 29px;
  cursor: pointer;
}

.arrow-up {
  position: absolute;
  left: -41px;
top: 732.86px;
  width: 0; 
  height: 0; 
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  
  border-bottom: 153px solid #2B3467;;
}

.line{
  position: absolute;
width: 200px;
left: 255.02px;
top: 770px;
border-radius: 50%/400px 0 0 400px;
border: 10px solid rgba(48, 52, 103, 50);
transform: matrix(0.8, -0.6, 0.56, 0.83, 0, 0);
}
.mic{
  position: absolute;
width: 113.19px;
height: 118.86px;
left: 430px;
top: 630px;
border-radius: 50%;
background: #2B3467;
}
.shade{
position: absolute;
width: 35.61px;
height: 3.72px;
left: 450.04px;
top: 650.91px;

border-radius: 50%;
background-color: white;
border: 2px solid #ffffff;
transform: matrix(-0.84, 0.55, -0.51, -0.86, 0, 0);
}

main{
  font-family: 'Sofia Sans Condensed', sans-serif;

}
.main-section{
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-section > h3 {
font-weight: 500;
font-size: 32px;
margin: 0;
margin-top: 50px;
}

.main-section > input{
margin: 0px;
width: 744px;
background: #FFFFFF;
border: 1px solid #2B3467;
border-radius: 16px;
padding: 20px;
font-size: 20px;
}


.suggestions{
  display: flex;
  flex-direction: column;
  gap:28px;
}
.suggestions >h5{
  margin:0;
  margin-top:15px;
  font-size: 18px;
  align-self: flex-start;
  font-family: 'Sofia Sans Condensed', sans-serif;
}
.suggestions >button {

  width: 503.85px;
  height: 57.58px;
  font-size: 20px;
  font-family: 'Sofia Sans Condensed', sans-serif;

  background: #FFFFFF;
  border: 1px solid #2B3467;
  border-radius: 16px;
  cursor: pointer;
}
