.App {
  text-align: center;
}

@font-face {
  font-family: Mograch;
  src: url("../fonts/mograch.ttf");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-headline{
  text-align: center;
  font-size: 132px;
}
.goodbye{
  color:#E83D4D;
}
.notes-container{
  position: relative;
}
.notes-container img{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 20px;
  left: -20px;
  z-index: -1;
  opacity: 0.6;
}
.pencil-container{
  position: relative;
}
.pencil-container img{
  
  position: absolute;
  align-self: center;
  width: 350px;
  height: 350px;
  bottom: 100px;
  right:0px;
  z-index: -1;
  
  opacity: 0.6;

}
.sell{
  height: 700px;
  display: flex;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  align-items: center;
  justify-content: center;
  
  border-radius: 16px 16px 0px 0px;
}
.mics{
  content: url(Images/mic.png);
  height:500px;
  width:500px;
}
.mics img{
  margin-left: 50px;
  z-index: -1;
}
.sell-headline{
color: white;
  font-family: mograch;
  font-size: 110px;
  padding: 20px;
  text-align: center;
}

.navbar{
  font-family: mograch;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ece9e6, #ffffff);
  display: flex;
  align-items: center;
  height: 100px;
  position: sticky;
  top: 0;
}
.sell{
  
}


.logo{
  font-weight: 300;
font-size: 50px;
line-height: 29px;
color: #000000;
margin-left: 30px;
cursor:default;
}

.arrow {
  pointer-events: none;
}
 
.arrow__path {
  stroke: #000;
  fill: transparent;
}
 
.arrow__head line {
  stroke: #000;
  stroke-width: 1px;
}

.dot{
font-weight: 300;
font-size: 48px;
line-height: 29px;
color:rgba(232, 61, 77, 1);
cursor:default;
}
.small-dot{
font-size: 30px;
line-height: 29px;
color:rgba(232, 61, 77, 1);
cursor:default;
}
.routes{
  display: flex;
  background: #000000;
  border-radius: 4px;
  align-self: center;
  margin-left:auto;
  margin-right: 30px;
}

.active{
  background-color:#E83D4D;
  border-radius: 4px;
  width: 94px;
height: 26px;
}


.arrow-up {
  position: absolute;
  left: -41px;
top: 732.86px;
  width: 0; 
  height: 0; 
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  
  border-bottom: 153px solid rgba(38, 47, 70);
  z-index: -1;
}

.line{
  position: absolute;
width: 200px;
left: 255.02px;
top: 770px;
border-radius: 50%/400px 0 0 400px;
border: 10px solid rgba(38, 47, 70);
transform: matrix(0.8, -0.6, 0.56, 0.83, 0, 0);
z-index: -1;
}
.mic{
  position: absolute;
width: 113.19px;
height: 118.86px;
left: 430px;
top: 630px;
border-radius: 50%;
background: rgba(38, 47, 70);
z-index: -1;
}
.shade{
position: absolute;
width: 35.61px;
height: 3.72px;
left: 450.04px;
top: 650.91px;

border-radius: 50%;
background-color: white;
border: 2px solid #ffffff;
transform: matrix(-0.84, 0.55, -0.51, -0.86, 0, 0);
z-index: -1;
}



main{
  font-family: Mograch;

}
.main-section{
  margin: 0px;
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.main-section > h3 {
font-weight: 500;
font-size: 70px;
margin: 0;
margin-top: 50px;
}


.suggestions{
  display: flex;
  gap:5px;
}
.input-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.input-topic{
  margin: 0px;
  width:80%;
  border: 2px solid;
  border-radius: 20px;
  padding: 20px;
  font-size: 20px;
}
input[type="text"]::-webkit-input-placeholder{
  font-family: mograch;
}
.input-point{
  flex:1;
  margin: 0px;
  width: 400px;
  background: #FFFFFF;
  border: 2px solid rgba(232, 61, 77, 1);
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
}

.add{
  background: #8A2387;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F27121, #E94057, #8A2387);
  color:white;
  height:45px;
  width:45px;
  border-radius:100%;
  font-size: 1.4rem;
  border:none;
  margin-top:5px;
  margin-left: 5px;
  cursor: pointer;
}

.content-section{
  margin: 0px;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.heads{
  align-items: center;
}

.speech-container{
  /* display:grid;
  grid-template: auto auto / repeat(3,1fr);
  gap:10px; */
  display: flex;
  flex-direction: column;
  text-align: center;

}

.options{
  display: grid;
  grid-template: 40px 40px /repeat(3,100px);
  gap:10px;
  justify-content: center;
}

.inactive-option-button{
  border-radius: 16px;
  font-family: mograch;
  padding: 10px;
  background-color: #F8F8F8;
}

.note{
  font-size: 18;
  color:rgba(0,0,0,0.5)
}

.submit{
  
  margin-top: 5px;
  border-radius: 16px;
  font-family: mograch;
  padding: 10px;
  background-color: #F8F8F8;
}
.submit:hover{
  background:#E83D4D;
  color:#F8F8F8;
}

.inactive-option-button:hover{
  color:#F8F8F8;
  background: #000000;
}
.active-option-button{
  color:#F8F8F8;
  border-radius: 16px;
  font-family: mograch;
  padding: 10px;
  background:#E83D4D;
}
.intro{
  padding:5px;
}
.loader{
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right:auto;
}
.loading-text{
  margin-left: auto;
  margin-right:auto;
}
.body{
  padding:5px;
}
.closing{
  padding:5px;
}

.introduce{
    height: 250px;
    width:350px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    text-align: center;
}

.question{
  font-size: 24px;
line-height: 29px;
text-align: center;

}

.points{
  text-align: center;
 
}

.points-container{
  
  margin-top:25px;
  max-height: 500px;
  max-width: 450px;;
  overflow-y: scroll;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;

}
.point-holder{
  display: flex;
  background-color: #F8F8F8;
  border: 1px dashed;
  flex-direction: row;
}
.point-holder-edit{
  margin-left: auto;
}
.points-text{
  color:black;
  text-align: left;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.result-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.editableBox{
  height: 200px;
    width:350px;
    overflow-y: scroll;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    text-align: center;
    font-family: monospace;
    font-size: 16px;
}
.function-buttons{
  display: flex;
  flex-direction: column;


  
}
.function-buttons> button{
  margin: 1px;
  padding:5px;
  width:30px;
  color:black;
  cursor: pointer;

}

.para{
  text-align: justify;
  text-justify: inter-word;
}
.present-heading{
  font-size: 24px;
  line-height: 29px;
}
.restart{
  background-color: white;
}
.restart:hover{
  background-color: #58B258;
  color:white;

}
.result-main-container{
  display: grid;
  grid-template:100px 200px / repeat(4,1fr);
  gap:30px;
}
.body-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap:10px;
}


.hook-container{
  grid-column-start: 2;
  grid-column-end: 3;
}

.intro-container{
  grid-column-start: 3;
  grid-column-end: 4;
}
.move{
  width:70px;
  height: 70px;
  margin-top: 20px;
  align-self: center;
  border-radius: 100%;
  background-color: white;
  font-size: 35px;
  color:black;
  border:2px solid #E83D4D;
}

.move:hover{
  width:70px;
  height: 70px;
  align-self: center;
  border-radius: 100%;
  background-color:#E83D4D;
  font-size: 30px;
  color:white;
}
.point-suggestions{
  margin: 0;
  display: flex;
  
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap:7px;
  
}

.suggest-text{
  padding:12px;
  width: 300px;
  background: #8A2387;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 16px;
  border:none;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
  cursor: pointer;
}
.suggest-text2{
  padding:15px;
  width: 300px;
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 16px;
  border:none;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
  cursor: pointer;
}

.suggest-text2:hover{
  box-shadow: 5px 5px rgb(34, 34, 34);
}
.suggest-text:hover{
  box-shadow: 5px 5px black;
}

.footer-container{
  position: sticky;
  bottom: 0;
  background: #52c234;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  margin-top:400px;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}